<div>
    <h1>Upcoming Angular Events</h1>
    
    <hr/>
    <event-thumbnail 
        #thumbnail
        [event]="eventData1" 
        (eventClick)="handleFunction($event)">
    </event-thumbnail>
    <div class="likes">
        <div>{{thumbnail.likes}}</div></div>
    </div>